<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>BFS</title>
    <link rel="stylesheet" href="../static/styles/general_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <nav>
        <a href="{{url_for('bfs')}}" class="select">BFS</a>
        <a href="{{url_for('dfs')}}">DFS</a>
        <a href="{{url_for('a_star')}}">A*</a>
        <a href="{{url_for('ida_star')}}">IDA*</a>
        <a href="{{url_for('id3')}}">ID3</a>
        <a href="{{url_for('knn')}}">KNN</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <form action="" method="post" class="matrix">
                        <div class="row submit">
                            <input type="submit" value="Show Route">
                        </div>
                        <h3 class="title">Matrix Cost</h3>
                        <table>
                            <tr class="label">
                                <td> </td>
                                <td>S</td>
                                <td>A</td>
                                <td>B</td>
                                <td>C</td>
                                <td>D</td>
                                <td>E</td>
                                <td>F</td>
                                <td>H</td>
                                <td>G</td>
                            </tr>
                            <tr>
                                <td class="label">S</td>
                                <td><input type="number" id="00" name="00" value="{{ matrix[0][0] }}"/></td>
                                <td><input type="number" id="01" name="01" value="{{ matrix[0][1] }}"/></td>
                                <td><input type="number" id="02" name="02" value="{{ matrix[0][2] }}"/></td>
                                <td><input type="number" id="03" name="03" value="{{ matrix[0][3] }}"/></td>
                                <td><input type="number" id="04" name="04" value="{{ matrix[0][4] }}"/></td>
                                <td><input type="number" id="05" name="05" value="{{ matrix[0][5] }}"/></td>
                                <td><input type="number" id="06" name="06" value="{{ matrix[0][6] }}"/></td>
                                <td><input type="number" id="07" name="07" value="{{ matrix[0][7] }}"/></td>
                                <td><input type="number" id="08" name="08" value="{{ matrix[0][8] }}"/></td>
                            </tr>
                            <tr>
                                <td class="label">A</td>
                                <td><input type="number" id="10" name="10" value="{{ matrix[1][0] }}"/></td>
                                <td><input type="number" id="11" name="11" value="{{ matrix[1][1] }}"/></td>
                                <td><input type="number" id="12" name="12" value="{{ matrix[1][2] }}"/></td>
                                <td><input type="number" id="13" name="13" value="{{ matrix[1][3] }}"/></td>
                                <td><input type="number" id="14" name="14" value="{{ matrix[1][4] }}"/></td>
                                <td><input type="number" id="15" name="15" value="{{ matrix[1][5] }}"/></td>
                                <td><input type="number" id="16" name="16" value="{{ matrix[1][6] }}"/></td>
                                <td><input type="number" id="17" name="17" value="{{ matrix[1][7] }}"/></td>
                                <td><input type="number" id="18" name="18" value="{{ matrix[1][8] }}"/></td>
                            </tr>
                            <tr>
                                <td class="label">B</td>
                                <td><input type="number" id="20" name="20" value="{{ matrix[2][0] }}"/></td>
                                <td><input type="number" id="21" name="21" value="{{ matrix[2][1] }}"/></td>
                                <td><input type="number" id="22" name="22" value="{{ matrix[2][2] }}"/></td>
                                <td><input type="number" id="23" name="23" value="{{ matrix[2][3] }}"/></td>
                                <td><input type="number" id="24" name="24" value="{{ matrix[2][4] }}"/></td>
                                <td><input type="number" id="25" name="25" value="{{ matrix[2][5] }}"/></td>
                                <td><input type="number" id="26" name="26" value="{{ matrix[2][6] }}"/></td>
                                <td><input type="number" id="27" name="27" value="{{ matrix[2][7] }}"/></td>
                                <td><input type="number" id="28" name="28" value="{{ matrix[2][8] }}"/></td>
                            </tr>
                            <tr>
                                <td class="label">C</td>
                                <td><input type="number" id="30" name="30" value="{{ matrix[3][0] }}"/></td>
                                <td><input type="number" id="31" name="31" value="{{ matrix[3][1] }}"/></td>
                                <td><input type="number" id="32" name="32" value="{{ matrix[3][2] }}"/></td>
                                <td><input type="number" id="33" name="33" value="{{ matrix[3][3] }}"/></td>
                                <td><input type="number" id="34" name="34" value="{{ matrix[3][4] }}"/></td>
                                <td><input type="number" id="35" name="35" value="{{ matrix[3][5] }}"/></td>
                                <td><input type="number" id="36" name="36" value="{{ matrix[3][6] }}"/></td>
                                <td><input type="number" id="37" name="37" value="{{ matrix[3][7] }}"/></td>
                                <td><input type="number" id="38" name="38" value="{{ matrix[3][8] }}"/></td>
                            </tr>
                            <tr>
                                <td class="label">D</td>
                                <td><input type="number" id="40" name="40" value="{{ matrix[4][0] }}"/></td>
                                <td><input type="number" id="41" name="41" value="{{ matrix[4][1] }}"/></td>
                                <td><input type="number" id="42" name="42" value="{{ matrix[4][2] }}"/></td>
                                <td><input type="number" id="43" name="43" value="{{ matrix[4][3] }}"/></td>
                                <td><input type="number" id="44" name="44" value="{{ matrix[4][4] }}"/></td>
                                <td><input type="number" id="45" name="45" value="{{ matrix[4][5] }}"/></td>
                                <td><input type="number" id="46" name="46" value="{{ matrix[4][6] }}"/></td>
                                <td><input type="number" id="47" name="47" value="{{ matrix[4][7] }}"/></td>
                                <td><input type="number" id="48" name="48" value="{{ matrix[4][8] }}"/></td>
                            </tr>
                            <tr>
                                <td class="label">E</td>
                                <td><input type="number" id="50" name="50" value="{{ matrix[5][0] }}"/></td>
                                <td><input type="number" id="51" name="51" value="{{ matrix[5][1] }}"/></td>
                                <td><input type="number" id="52" name="52" value="{{ matrix[5][2] }}"/></td>
                                <td><input type="number" id="53" name="53" value="{{ matrix[5][3] }}"/></td>
                                <td><input type="number" id="54" name="54" value="{{ matrix[5][4] }}"/></td>
                                <td><input type="number" id="55" name="55" value="{{ matrix[5][5] }}"/></td>
                                <td><input type="number" id="56" name="56" value="{{ matrix[5][6] }}"/></td>
                                <td><input type="number" id="57" name="57" value="{{ matrix[5][7] }}"/></td>
                                <td><input type="number" id="58" name="58" value="{{ matrix[5][8] }}"/></td>
                            </tr>
                            <tr>
                                <td class="label">F</td>
                                <td><input type="number" id="60" name="60" value="{{ matrix[6][0] }}"/></td>
                                <td><input type="number" id="61" name="61" value="{{ matrix[6][1] }}"/></td>
                                <td><input type="number" id="62" name="62" value="{{ matrix[6][2] }}"/></td>
                                <td><input type="number" id="63" name="63" value="{{ matrix[6][3] }}"/></td>
                                <td><input type="number" id="64" name="64" value="{{ matrix[6][4] }}"/></td>
                                <td><input type="number" id="65" name="65" value="{{ matrix[6][5] }}"/></td>
                                <td><input type="number" id="66" name="66" value="{{ matrix[6][6] }}"/></td>
                                <td><input type="number" id="67" name="67" value="{{ matrix[6][7] }}"/></td>
                                <td><input type="number" id="68" name="68" value="{{ matrix[6][8] }}"/></td>
                            </tr>
                            <tr>
                                <td class="label">H</td>
                                <td><input type="number" id="70" name="70" value="{{ matrix[7][0] }}"/></td>
                                <td><input type="number" id="71" name="71" value="{{ matrix[7][1] }}"/></td>
                                <td><input type="number" id="72" name="72" value="{{ matrix[7][2] }}"/></td>
                                <td><input type="number" id="73" name="73" value="{{ matrix[7][3] }}"/></td>
                                <td><input type="number" id="74" name="74" value="{{ matrix[7][4] }}"/></td>
                                <td><input type="number" id="75" name="75" value="{{ matrix[7][5] }}"/></td>
                                <td><input type="number" id="76" name="76" value="{{ matrix[7][6] }}"/></td>
                                <td><input type="number" id="77" name="77" value="{{ matrix[7][7] }}"/></td>
                                <td><input type="number" id="78" name="78" value="{{ matrix[7][8] }}"/></td>
                            </tr>
                            <tr>
                                <td class="label">G</td>
                                <td><input type="number" id="80" name="80" value="{{ matrix[8][0] }}"/></td>
                                <td><input type="number" id="81" name="81" value="{{ matrix[8][1] }}"/></td>
                                <td><input type="number" id="82" name="82" value="{{ matrix[8][2] }}"/></td>
                                <td><input type="number" id="83" name="83" value="{{ matrix[8][3] }}"/></td>
                                <td><input type="number" id="84" name="84" value="{{ matrix[8][4] }}"/></td>
                                <td><input type="number" id="85" name="85" value="{{ matrix[8][5] }}"/></td>
                                <td><input type="number" id="86" name="86" value="{{ matrix[8][6] }}"/></td>
                                <td><input type="number" id="87" name="87" value="{{ matrix[8][7] }}"/></td>
                                <td><input type="number" id="88" name="88" value="{{ matrix[8][8] }}"/></td>
                            </tr>
                        </table>
                    </form>
                </div>

            </div>
            <div class="col-7 image">
                <div class="position-fixed">
                    <img src="../static/images/init.png" class="img-fluid">
                </div>
            </div>

        </div>
    </div>

</body>
</html>