nav {
  background-color: #47bdec;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a{
    display: inline-block;
    padding:10px;
    width: 65px;
    text-align: center;
    font-size:20px;
    color:white;
    text-decoration:none;
}

nav a:hover{
    background-color:#333;
}

nav > .select {
    background-color:#333;
}

input {
    width: 40px;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.label {
    color: rgb(10,144,201);
    font-weight: bold;
}

.image {
    padding-top: 20px;
}

.submit {
    padding: 20px;
}

.scrollable {
    width: auto;
    height: 100px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}